body {
	background: #ffffff;
	color: #000000;
	font-family: "BitStream Vera Sans", Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	text-align: center;
}

a {
	text-decoration: none;
	color: #888888;
}

a:hover {
	text-decoration: underline;
	color: #888888;
}

a:visited, a:active {
	color: #888888;
}

table {
	/* border-spacing: 0; */
	/* padding: 0; */
	border-collapse: collapse; /* for IE */
}

.button {
	border: 1px solid #aaaaaa;
	color: #777777;
	background: #dddddd;
	padding: 3px 3px 3px 3px;
	font-size: 11px;
}

.button:hover, .button:focus {
	background: #BCFF36;
	color: #888888;
}

.flat {
	border: 1px solid #888888;
}

ul.flash-info {
	border:2px solid #AFE1A6; /* medium green */
	padding:1em;
	max-width:730px;
	margin-left:auto;
	margin-right:auto;
	list-style:none;
}

ul.flash-error {
	border:2px solid #FF6347; /* tomato */
	padding:1em;
	max-width:730px;
	margin-left:auto;
	margin-right:auto;
	list-style:none;
}

.error_msg {
	color: #d01313;
}

.standout {
	color: maroon;
	padding: 3px 3px 3px 3px;
	text-align: center;
}

#login_header {
	width:100%;
	margin: 0 auto;
	padding-bottom: 10px;
	text-align: left;
	position: fixed;
	top: 23px;
	left:0px;
}

#login {
	width: 750px;
	margin: 0 auto;
}

#login_table {
background: #eaeaea; /* Old browsers */
background: -moz-linear-gradient(top, #eaeaea 0%, #cecece 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eaeaea), color-stop(100%,#cecece)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #eaeaea 0%,#cecece 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #eaeaea 0%,#cecece 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #eaeaea 0%,#cecece 100%); /* IE10+ */
background: linear-gradient(top, #eaeaea 0%,#cecece 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaeaea', endColorstr='#cecece',GradientType=0 ); /* IE6-9 */
	width: 350px;
	margin: 0 auto;
	border-collapse: separate;
	border-spacing: 10px;
	margin-top:60px;
}

#login_table h4 {
	font-size: 13px;
}

#menu {
	width: 100%;
	margin: 0 auto;
	padding-top: 0px;
	white-space: nowrap;
	top: 0px;
	left: 0px;
	position: fixed;
	background: #5e5e5e; /* Old browsers */
	background: -moz-linear-gradient(top,  #5e5e5e 0%, #000000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5e5e5e), color-stop(100%,#000000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #5e5e5e 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #5e5e5e 0%,#000000 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #5e5e5e 0%,#000000 100%); /* IE10+ */
	background: linear-gradient(top,  #5e5e5e 0%,#000000 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e5e5e', endColorstr='#000000',GradientType=0 ); /* IE6-9 */

}

#menu ul {
	padding: 0;
	margin: 0 auto;
	margin-left:auto;
	margin-right:auto;
	list-style: none;
}

#menu li {
	float: left;
	background: #878787; /* Old browsers */
	background: -moz-linear-gradient(top, #878787 0%, #444444 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#878787), color-stop(100%,#444444)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #878787 0%,#444444 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #878787 0%,#444444 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #878787 0%,#444444 100%); /* IE10+ */
	background: linear-gradient(top, #878787 0%,#444444 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#878787', endColorstr='#444444',GradientType=0 ); /* IE6-9 */
	margin-right: 3px;
}
li:fist-child {
	border: none;
}

#menu li:hover, #menu li.sfhover {
background: #bfff00; /* Old browsers */
background: -moz-linear-gradient(top, #bfff00 0%, #9ab200 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bfff00), color-stop(100%,#9ab200)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #bfff00 0%,#9ab200 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #bfff00 0%,#9ab200 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #bfff00 0%,#9ab200 100%); /* IE10+ */
background: linear-gradient(top, #bfff00 0%,#9ab200 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfff00', endColorstr='#9ab200',GradientType=0 ); /* IE6-9 */
}

#menu li ul {
	position: absolute;
	width: auto;
	left: -999em;
    background: #FFFFFF;

	border-top:none;
}
#menu li:hover ul, #menu li.sfhover ul {
   left: auto;
}


#menu li ul li {
    float: none;
	margin-right: 0px;

	text-align:left;
}




#menu a {
	display: block;
	width: auto;
	padding: 5px 5px 5px 5px;
	color: white;
}

#menu a:hover {
	color: #888888;
}



#menu li ul li a {
	padding: 5px 5px 5px 5px;
}



#main_menu, #edit_form {
	width: 750px;
	margin: 0 auto;
	padding-top: 60px;
}

#edit_form table {
	margin: 0 auto;
	padding-top: 10px;
	text-align: left;
	width: 500px;
	border: 1px solid #efefef;
}

#edit_form h3  {
	text-align: center;
	font-size: 12px;
	margin: 0;
	/*background: #AFE1A6; /*#b4004a;*/
	background: #cccccc; /* Old browsers */
background: -moz-linear-gradient(top, #cccccc 0%, #898989 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cccccc), color-stop(100%,#898989)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #cccccc 0%,#898989 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #cccccc 0%,#898989 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #cccccc 0%,#898989 100%); /* IE10+ */
background: linear-gradient(top, #cccccc 0%,#898989 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#898989',GradientType=0 ); /* IE6-9 */

	border: 1px solid #bbb;
	line-height: 25px;
	/*color: #555555;*/
	color:white;
}
input[name=search] {
border-radius: 5px;
width: 150px;
border: 1px solid grey;
}
.hlp_center {
	text-align: center;
}

.help_text {
	background: #efefef;
	border-left: 1px solid #bbbbbb;
	border-right: 1px solid #bbbbbb;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}

#main_menu table {
	margin: 0 auto;
	text-align: left;
	padding-top: 20px;
	padding-bottom: 20px;
}

#main_menu table td {
	padding-left: 30px;
	padding-bottom: 5px;
}

#main_menu a {
	color: #888888;
	padding-left: 8px;
}

#main_menu a:hover {
	color: #40B33C; /*#CD6A6A;*/
	text-decoration: none;
	padding-left: 4px;
	border-bottom: 1px solid #40B33C;
	border-left: 4px solid #40B33C;
}

#overview, #admin_domains, #admin_virtual {
	width: 90%;
	margin: 0 auto;
	background: #AFE1A6; /*#9ACD32;*/
	border: 1px solid #bbb;
	margin-top: 60px;
background: #cccccc; /* Old browsers */
background: -moz-linear-gradient(top, #cccccc 0%, #898989 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cccccc), color-stop(100%,#898989)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #cccccc 0%,#898989 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #cccccc 0%,#898989 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #cccccc 0%,#898989 100%); /* IE10+ */
background: linear-gradient(top, #cccccc 0%,#898989 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#898989',GradientType=0 ); /* IE6-9 */
}

#overview h4, #overview P, #overview FORM, #admin_virtual h4, #admin_virtual P, #admin_virtual FORM {
	display: inline;
	padding-right: 10px;
	line-height: 30px;
}

#nav_bar {
	text-align: right;
	width: 90%;
	margin: 0 auto;
}

#alias_domain_table, #alias_table, #mailbox_table, #overview_table, #log_table, #admin_table {
	width: 90%;
	margin: 0px auto;
	border: 1px solid #efefef;
}

#alias_domain_table .header, #alias_table .header, #mailbox_table .header, #overview_table .header, #log_table .header, #admin_table .header {
	line-height: 20px;
	background: #efefef;
	color: black;
}

#alias_domain_table .hilightoff, #alias_table .hilightoff, #mailbox_table .hilightoff, #overview_table .hilightoff, #log_table .hilightoff, #admin_table .hilighoff {
	background: white;
}

#alias_domain_table .hilighton, #alias_table .hilighton, #mailbox_table .hilighton, #overview_table .hilighton, #log_table .hilighton, #admin_table .hilighton {
	background: #D9FF43; /*#D6FF85;*/ /*#ffdddd;*/
}

#alias_domain_table tr:hover, #alias_table tr:hover, #mailbox_table tr:hover, #overview_table tr:hover, #log_table tr:hover, #admin_table tr:hover {
        background: #D9FF43; /*#D6FF85;*/ /*#ffdddd;*/
}


#alias_domain_table h3, #alias_table h3, #mailbox_table h3, #overview_table h3, #log_table h3, #admin_table h3 {
background: #898989; /* Old browsers */
background: -moz-linear-gradient(top, #898989 0%, #cccccc 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#898989), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #898989 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #898989 0%,#cccccc 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #898989 0%,#cccccc 100%); /* IE10+ */
background: linear-gradient(top, #898989 0%,#cccccc 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#898989', endColorstr='#cccccc',GradientType=0 ); /* IE6-9 */
	text-align: left;
	font-size: 12px;
	font-weight: bold;
	padding-left: 20px;
	line-height: 25px;
	margin: 0;
}

#footer {
	width: 100%;
	
	border-top: 1px solid #bbbbbb;
	background: #efefef;
	color: #999999;
	line-height: 20px;
	font-size: 9px;
	position:fixed;
	bottom:0px;
	left: 0px;
}

#footer a {
	text-decoration: none;
	color: #999999;
}

#footer a:hover {
	text-decoration: underline;
	color: #777777;
}

div.setup {
	width:700px
	margin-left:auto;
	margin-right:auto;
	text-align: left;
}

div.setup li {
	padding-bottom:1em;

}
